ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

li a.active .underline{
    transform: translateY(0);
    opacity: 1;
}

#logo {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border: 5px solid lightgray;
}

body {
    background-color: #212121;
    backface-visibility: hidden
}

.top {
    padding-top: 4%;
}

.items > div > img{
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height:100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.items > div > img:hover{
    -webkit-filter: grayscale(1%);
    -moz-filter: grayscale(1%);
    filter: grayscale(1%);
}

.nav {
    border-bottom: 1px solid lightgrey;
}

.underline {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #e2e7eb;
}
p .name {
    text-transform: uppercase;
}

.grid {
    /* center */
    margin: 0 auto;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 300px;
    height: 200px;
    float: left;
    margin-bottom: 5px;
    background: lightcoral;
}
.grid-item img {
    max-width: 100%;
    max-height: -webkit-fill-available;
}

* { box-sizing: border-box; }

.name {
    float: left;
    text-transform: uppercase;
    color: lightcoral;
    padding: 2px;
}

.fkit {
    float: right;
    border: 1px solid lightcoral;
    font-size: 16px;
    border-radius: 1px;
    background: none;
    color: lightcoral;
    text-transform: uppercase;
}

.grid-item--height2 { height: 200px; }