ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
}

#logo {
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    border: 5px solid lightgray;
}

body {
    background-color: #212121;
    backface-visibility: hidden
}

.top {
    padding-top: 4%;
}

.items > div > img{
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height:100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.items > div > img:hover{
    -webkit-filter: grayscale(1%);
    -moz-filter: grayscale(1%);
    filter: grayscale(1%);
}

.nav {
    border-bottom: 1px solid lightgrey;
}

.underline {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #e2e7eb;
}
p .name {
    text-transform: uppercase;
}

.grid {
    /* center */
    margin: 0 auto;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 300px;
    height: 200px;
    float: left;
    margin-bottom: 5px;
    background: lightcoral;
}
.grid-item img {
    max-width: 100%;
    max-height: -webkit-fill-available;
}

* { box-sizing: border-box; }

.name {
    float: left;
    text-transform: uppercase;
    color: lightcoral;
    padding: 2px;
}

.fkit {
    float: right;
    border: 1px solid lightcoral;
    font-size: 16px;
    border-radius: 1px;
    background: none;
    color: lightcoral;
    text-transform: uppercase;
}

.grid-item--height2 { height: 200px; }

.glitch {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
}
.glitch:before, .glitch:after {
    display: inline-block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: -4px;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
}
.glitch:after {
    color: #f0f;
    z-index: -2;
}
.glitch:before {
    color: #0ff;
    z-index: -1;
}
.glitch:hover:before {
    -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
.glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}

@media only screen and (max-width: 400px) {
    .glitch {
        font-size: 1.5em;
    }
}
@-webkit-keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}