
h1,h2,h3,h4,h5,h6 {
    font-family: custom_416;
    text-transform: uppercase;
    text-decoration: solid white;
    color: lightgrey;
}

h3 {
    margin-top: 0px !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
}

li .active {
    color: whitesmoke;
}

span {
    font-family: custom_428;
    color: white;
}

#logo {
    width: 100px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

body {
    background-color: #212121;
    z-index: -5;
    backface-visibility: hidden;
    position: absolute;
}

.top {
    padding-top: 4%;
}


.nav {
    border-bottom: 1px solid lightgrey;
}

.underline {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #e2e7eb;
}
p .name {
    text-transform: uppercase;
}

.grid {
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    /* center */
    margin: 0 auto;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */
.grid-item {
    width: 300px;
    height: 200px;
    float: left;
    margin-bottom: 5px;
    background-size: 100%;
    filter: grayscale(100%);
    background-size: 300px 200px;
}
.grid-item img {
    max-width: 100%;
    max-height: -webkit-fill-available;
    min-width: 100%;
}

.grid-item:hover{
    filter: grayscale(0%);
}

* { box-sizing: border-box; }

.name {
    float: left;
    text-transform: uppercase;
    color: lightcoral;
    padding: 2px;
}

.fkit {
    float: right;
    border: 1px solid lightcoral;
    font-size: 16px;
    border-radius: 1px;
    background: none;
    color: #00FEDE;
    text-transform: uppercase;
}

.grid-item--height2 { height: 200px; }

.glitch {
    font-size: 2em;
    font-family: 'custom_416', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    color: lightgrey;
    letter-spacing: 5px;
}
.glitch:before, .glitch:after {
    display: inline-block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: -0.41em;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
}
.glitch:after {
    color: #f0f;
    z-index: -2;
}
.glitch:before {
    color: #0ff;
    z-index: -1;
}
.glitch:hover:before {
    -webkit-animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
.glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}

@media only screen and (max-width: 400px) {
    .glitch {
        font-size: 1.5em;
    }
}
@-webkit-keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes glitch {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.footer {
    border-top: 1px solid lightgrey;
    text-align: center;
}
.footer > span {
    margin-right: 10px;
    margin-left: 10px;
}

.blackout {
    opacity: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
}

.item-overlay {
    height: inherit;
    width: inherit;
    text-align: center;
    color: black;
    display: inline-block;
    line-height: 6em;
    font-size: 2em;
    font-family: custom_428, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 2;
}

@keyframes flicker {
    0% {
        opacity: 0.79542;
    }
    5% {
        opacity: 0.83757;
    }
    10% {
        opacity: 0.81184;
    }
    15% {
        opacity: 0.06095;
    }
    20% {
        opacity: 0.04206;
    }
    25% {
        opacity: 0.2265;
    }
    30% {
        opacity: 0.43152;
    }
    35% {
        opacity: 0.28902;
    }
    40% {
        opacity: 0.73358;
    }
    45% {
        opacity: 0.57882;
    }
    50% {
        opacity: 0.38512;
    }
    55% {
        opacity: 0.16091;
    }
    60% {
        opacity: 0.43773;
    }
    65% {
        opacity: 0.86757;
    }
    70% {
        opacity: 0.05796;
    }
    75% {
        opacity: 0.11641;
    }
    80% {
        opacity: 0.27256;
    }
    85% {
        opacity: 0.39381;
    }
    90% {
        opacity: 0.98227;
    }
    95% {
        opacity: 0.60898;
    }
    100% {
        opacity: 0.84472;
    }
}
.grid-item:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
}
.grid-item:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.grid-item:hover::after {
    animation: flicker 0.95s infinite;
}

@keyframes turn-on {
    0% {
        transform: scale(1, 0.8) translate3d(0, 0, 0);
        -webkit-filter: brightness(30);
        filter: brightness(30);
        opacity: 1;
    }
    3.5% {
        transform: scale(1, 0.8) translate3d(0, 100%, 0);
    }
    3.6% {
        transform: scale(1, 0.8) translate3d(0, -100%, 0);
        opacity: 1;
    }
    9% {
        transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
        -webkit-filter: brightness(30);
        filter: brightness(30);
        opacity: 0;
    }
    11% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: contrast(0) brightness(0);
        filter: contrast(0) brightness(0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
        filter: contrast(1) brightness(1.2) saturate(1.3);
        opacity: 1;
    }
}
@keyframes turn-off {
    0% {
        transform: scale(1, 1.3) translate3d(0, 0, 0);
        -webkit-filter: brightness(1);
        filter: brightness(1);
        opacity: 1;
    }
    60% {
        transform: scale(1.3, 0.001) translate3d(0, 0, 0);
        -webkit-filter: brightness(10);
        filter: brightness(10);
    }
    100% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: scale(0, 0.0001) translate3d(0, 0, 0);
        -webkit-filter: brightness(50);
        filter: brightness(50);
    }
}

grid > .grid-item {
    animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
    animation-fill-mode: forwards;
}

grid > .grid-item {
    animation: turn-on 4s linear;
    animation-fill-mode: forwards;
}

@keyframes overlay-anim {
    0% {
        visibility: hidden;
    }
    20% {
        visibility: hidden;
    }
    21% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
.overlay {
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #00FEDE;
    background: #212121;
    position: absolute;
    font-size: 2em;
    font-family: custom_428;
    text-align: left;
    justify-content: left;
    pointer-events: none;
    text-transform: lowercase;
}

.close-button {
    height: 35px;
    width: 35px;
    position: relative;
    box-sizing: border-box;
    line-height: 35px;
    display: block;
    float: right;
    border: 1px solid white;
}
.close-button:before, .close-button:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 65%;
    left: 45%;
    margin-top: -10px;
    margin-left: -15px;
    display: block;
    height: 10px;
    width: 35px;
    background-color: #fff;
    transition: all 0.25s ease-out;
}
.close-button:after {
    transform: rotate(-135deg);
}
.close-button:hover:before, .close-button:hover:after {
    transform: rotate(0deg);
}

.description {
    text-justify: inter-word;
    text-align: justify;
}
.description-img {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url("../img/file.png") center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }

/*    .grid {
        width: 100% !important;
        margin: 0;
    }

    .grid-item {
        min-width: 100%;
        height: 200px;
        margin-bottom: 5px;
        background-size: 100%;
        filter: grayscale(100%);
    }*/
}

.killme {
    font-size: 0.8em;
}
.footer-href {
    font-family: custom_428;
    text-decoration: none;
    color: white;
    pointer-events: visible;
    text-align: center;
    text-transform: revert;
}

.link {
    color: white;
    font-family: custom_428;
}

pre code {
    background-color: #eee;
    border: 1px solid white;
    display: block;
    padding: 15px;
    word-break: keep-all;
    white-space: pre-wrap;
}

pre {
    margin-top: 0px;
    margin-bottom: 0px;
}

input, textarea{
    background-color: transparent;
    color: white;
    border: 1px solid whitesmoke;
    margin: 10px;
    width: 50%;
    font-weight: 700;
    font-family: custom_428;
    font-size: 1em;
}
input {
    height: 25px;
}
textarea{
    height: 100px;
}

input[type=submit] {
    background-color: transparent;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    font-weight: 700;
    font-family: custom_428;
    font-size: 1em;
}

form {
    display: inline;
    text-align: center;
}

input:focus, textarea:focus {
    outline-color: whitesmoke;
    outline-style: solid;
    outline-width: 2px;
}

.fix-close {
    position: fixed;
    top: 0;
    background-color: black;!important;
    z-index: 2;
}